body {
        font-family: 'Poppins';

}
.quienesSomos{
    box-sizing: border-box;
}

.quienesSomos h2 {
    text-align: center;
}

.somos{
    float:left;
    width: 470px;
    color: black;
    font-size: 20px;
    padding-left: 250px;
    line-height: 25px;
}

.somos p span {
    font-size: 20px;
    font-weight: bold;
}

.quienesSomos .esquinainstituto figure img {
    float: right;
    width: 390px;
    border-radius: 20%;
    border: 10px solid #d8251e;
    margin-top: 30px;
   margin-right: 200px;
   margin-bottom: 30px;
}
@media (max-width: 1024px) {
    main {width: 100%;}
            .estudia {
                display: none;
              background-image: none;
              background-attachment: unset;
              background-repeat: no-repeat;
              background-size: auto;
              height: auto;
              box-sizing: border-box;
              padding: 0px;
              color: black;
              opacity: 100%;
            }
            
        .somos{
            float:none;
            width: 90%;
            color: black;
            font-size: 30px;
            padding-left: 30px;
            line-height: 34px;
        }
        .somos p span {
            font-size: 30px;
            font-weight: bold;
        }
        
    .quienesSomos .esquinainstituto figure img {
        float: none;
        width: 90%;
        border-radius: 20%;
        border: 10px solid #d8251e;
        text-align: center;
        margin: 30px 0px 0;
     
    }
    }
@media (max-width: 576px) {
main {width: 100%;}
        .estudia {
            display: none;
          background-image: none;
          background-attachment: unset;
          background-repeat: no-repeat;
          background-size: auto;
          height: auto;
          box-sizing: border-box;
          padding: 0px;
          color: black;
          opacity: 100%;
        }
        
    .somos{
        float:none;
        width: 90%;
        color: black;
        font-size: 24px;
        padding-left: 30px;
        line-height: 30px;
    }
    .somos p span {
        font-size: 25px;
        font-weight: bold;
    }
    
.quienesSomos .esquinainstituto figure img {
    float: none;
    width: 90%;
    border-radius: 20%;
    border: 10px solid #d8251e;
    text-align: center;
    margin: 30px 0px 0;
 
}
}

